deli.log

# ignore IDE files
.idea
.venv
.vscode

# ignore Python cache
__pycache__/
*.pyc
*.pyo

# ignore poetry
.poetry

# ignore caches
.mypy_cache/
.pytest_cache/
.ruff_cache/

# ignore test results
./test-results/
./tests/test-results/

# ignore my_todos.md
my_todos.md

# ignore dist
dist/
